<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--
  <h1 [innerHTML]="title | highlight: filter">AAAA
  </h1>
-->

  <h1 [appHighlight]="filter">{{title}}</h1>
</div>
<h2>Here are some links to help you start: </h2>

<input #box type="text" [(value)]="title" (keyup)="onKey(box.value)">
<div>{{title}}</div>

<appAutocomplete [items]='itemsA' [textMatcher]='textMatcher'>
  <ng-template #optionTemplate let-context>
    <div>
<!--      <div [appHighlight]="context.filter" [textMatcher]="context.textMatcher">{{context.item.label}}</div>-->
      <div>{{context.item.label | highlight:context.filter:context.mustHighlight:context.textMatcher}}</div>
    </div>
  </ng-template>
</appAutocomplete>
